.survey-new {
	padding: 5rem;
}

.field__error {
	color: red;
	margin-bottom: 2rem;
	font-weight: 500;
}

.form-submit-button {
	margin-top: 3rem;
	border-radius: 9px !important;
	// height: 3.5rem !important;
	// width: 10rem !important;
	letter-spacing: 3px;
}

.form-cancel-button {
	margin-top: 3rem;
	border-radius: 9px !important;
	// height: 3.5rem !important;
	// width: 10rem !important;
	letter-spacing: 3px;
	
}